pre-commit
mypy
pytest
pytest-cov
requests
sqlalchemy
alembic
pydantic
opencv-python
# pyav didn't install under windows
# pyav
# pytorch caused build problems. So we'll
# add it once we need it and figure
# out the build problems.
# pytorch
# pyside6 is causing issues with PyOxidizer, so we'll add it back later
# pyside6
